// Define theme colors
$main-nav-bg: #333333;
$main-nav-font: #D98C15;
$main-nav-active-bg: $main-nav-font;
$main-nav-active-font: $main-nav-bg;

$sub-nav-bg: #E5E5E5;
$sub-nav-font: $main-nav-bg;
$sub-nav-active-bg: #A8A6A6;

$clr-orange: $main-nav-font;
$clr-orange-dark: #BF7400;
$clr-orange-light: #F1D7AD;
$clr-gray: $main-nav-bg;
$clr-gray-light: $sub-nav-active-bg;
$clr-red: #FF7474;
$clr-green: #5CD65C;
$clr-blue: #7495BE;

$settings-color: #aeaeae;
$settings-more-btn-color: #ffffff;
$settings-more-txt-color: #D7D7D7;
$settings-more-opt-bg: #333333;
$settings-more-opt-color: #868686;
$settings-more-opt-active-bg: #000000;

/* button color variables */
$blue-button: #14b0df;

/* Ajax loader */
.loader-wrap {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
 	min-height: 200px;
	min-width: 100%;
	z-index:99;
	background: rgba(255,255,255,0.1);
}
.loader-tab-view {
	top: auto;
	bottom: auto;
	height: calc(100% - 200px);
}

.ajax-loader {
  	position: absolute;
  	left: 50%;
  	top: 50%;
  	margin-left: -20px; /* -1 * image width / 2 */
  	margin-top: -20px; /* -1 * image height / 2 */
  	background-image: url('../images/ajax-loader.gif');
	background-repeat: no-repeat;
	background-position: center;
	width:32px;
	height:32px;
}

.ajax-loader-inline {
	background-image: url('../images/ajax-loader.gif');
	background-repeat: no-repeat;
	background-position: center;
	width:32px;
	height:32px;
	margin: 3px 10px;
}
.loader-position-top{
	.ajax-loader{
		top: 1% !important;
	}
}

.jumbotron{
	text-align:center;
}

/* button colors */

.btn-blue-active{
	background-color: $blue-button;
}

/**
generic class
**/

.job-menu-active{
	background:#000000;
}

.ion-more, .menu-item{
	cursor:pointer;
}

.disabled{
	opacity:0.5 !important;
	pointer-events: none; 
}

.hidden{
	display:none;
}

.clear{
	clear:both;
}

.field-error{
	border:solid 1px #ff0000;
}
.text-bold{
	font-weight:bold;
}

.font-s14{
	font-size: 14px;
}

.btn-group > .btn.active{
	z-index: inherit;
}

.inline-block{
	display: inline-block;
}

.display-block{
	display: block;
}

.display-table{
	display: table;
}

.pad-15{
	padding: 15px;
}

.no-border-radius{
	border-radius: 0;
}

.height-auto{
	height:auto;
	min-height: inherit !important;
}

.height-30{
	height: 30px;
}

.min-height-50{
	min-height: 50px;
}
.min-height-200{
	min-height: 200px;
}
.min-height-400{
	min-height: 400px;
}
.btn-toggle-1.active{
	background-color: $blue-button;
}

.hbox-bordered{
	border:solid 1px #DDDDDD;
	margin:0;
	padding:5px;
}

.close-inline{
	font-size: 21px;
	line-height: 1;
}

.hbox-noborder{
	margin:0;
	padding:5px;
}

.nobackground {
	background: none;
}

.datepicker-label{
	line-height: 30px;
	margin-right: 8px;
}

.datepicker{
	max-width: 180px;
	margin-right:10px;
	height: 30px;

	.dropdown-menu {
		.btn-group .btn-danger.btn{
			display: none;
		}
	}
}

.input-group.datepicker > .form-control{
	z-index: 0;
}

datepicker > .btn{
	height: 30px;
}

.chart-container{
	min-height: 400px;
	width: 100%;
}

.chart-el{
	position: relative;
	float:none;
}

.noborder{
	border: none !important;
}

.font-weight-normal{
font-weight: normal !important;
}

.text-left{
	text-align:left !important;
}

.text-center{
	text-align:center !important;
}

.nopaddingh{
	padding-left: 0;
	padding-right: 0;
}

.fault-icons {
    font-size: 18px;
    color: #E80000;
    margin-right: 3px;
    height: 18px;
	margin-top: -4px;
	float: left;
}

.firstCapitalize {
	text-transform:capitalize;
}

/**
common alignments
**/
.width-auto{
	width:auto !important;
	display: inline-block;
}
.width-auto-without-display{
	width:auto !important;
}
.page-breadcrumb{
	font-size: 13px;
    margin: 0 0 10px 0;
}

.width-100{
	width:100%;
}

.width-180px{
	width: 180px;
}

.height-100{
	height: 100%;
}

.height-50{
	height: 50% !important;
}

.height-40{
	height: 40% !important;
}
.height-10{
	height: 10% !important;
}

.padding-0{
	padding:0px;
}

.padding-l-0{
	padding-left:0px;
}

.padding-l-5{
	padding-left: 5px;
}

.padding-l-10{
	padding-left:10px;
}

.padding-l-15{
	padding-left:15px;
}

.padding-r-0{
	padding-right:0px;
}
.padding-side-10{
	padding: 0 10px;
}

.padding-3{
	padding:3px;
}

.padding-4{
	padding:4px;
}

.padding-5{
	padding:5px;
}

.padding-8{
	padding:8px;
}

.padding-10{
	padding:10px;
}

.padding-5-0{
	padding:5px 0px;
}

.padding-10-0{
	padding:10px 0px;
}
.padding-0-10{
	padding:0 10px;
}

.padding-2-10{
	padding:2px 10px;
}
.padding-t-10{
	padding-top:10px;
}

.padding-b-5{
	padding-bottom: 5px;
}
.padding-b-10{
	padding-bottom: 10px;
}

.padding-l-i-5 {
	padding-left: 5px !important;
}
.padding-r-i-5 {
	padding-right: 5px !important;
}

.baseline-middle-align{
    vertical-align: -webkit-baseline-middle;
}
.vmiddle-align{
    vertical-align:middle !important;
}
.middle-align{
	display:table-cell;
    vertical-align:middle !important;
    text-align:center;
}
.top-align{
	vertical-align:top;
}
.top-200px{
	top: 200px;
}

.margin-0{
	margin:0px !important;
}

.margin-l-0{
	margin-left:0px !important;
}

.margin-r-0{
	margin-right:0px !important;
}

.margin-b-0{
	margin-bottom:0px !important;
}

.margin-5{
	margin:5px;
}

.margin-t-25{
	margin-top: -25px;
}

.margin-t-3{
	margin-top:3px;
}

.margin-t-5{
	margin-top:5px;
}

.margin-t-30{
	margin-top:30px;
}

.margin-l-5{
	margin-left:5px;
}

.margin-l-5-n{
	margin-left:-5px;
}

.margin-r-5{
	margin-right:5px;
}

.margin-r-10{
	margin-right:10px;
}
.margin-l-15{
	margin-left:15px;
}

.margin-h-5{
	margin-left:5px;
	margin-right:5px;
}

.margin-v-5{
	margin-top:5px;
	margin-bottom:5px;
}

.margin-t-10{
	margin-top:10px;
} 

.margin-b-10{
	margin-bottom:10px;
} 

.margin-l-10{
	margin-left:10px;
} 

.margin-v-10{
	margin-top:10px;
	margin-bottom: 10px;
}
.margin-t-20{
	margin-top:20px;
}
.margin-b-25{
	margin-bottom:25px;
}
.margin-b-50{
	margin-bottom:50px !important;
}
.margin-t-0{
	margin-top:0px;
}
.border-bottom{
	border-bottom: solid 1px #989595;
}

.col-300px{
	width:300px;
}

.col-300px-rem{
	width:calc(100% - 300px);
}

.col-centered{
	float:none !important;
	margin:0 auto;
}

.tab-content{
	border-top:none;
	max-height:370px;
	min-height:170px;
	overflow-y: auto;
}

.table.no-border{
	border:none !important;
}
.no-border{
	border:none !important;
}
.no-margin{
	margin: 0;
}

.max-width-145{
	max-width: 145px;
}

.info-row{
	margin:5px 0px;
}

.col-label{
	font-size:13px;
}

.col-value{
	font-size:13px;
}

.btn-twl-font{
	font-size:11px;
}

.border-1px-transparent{
border: 1px solid transparent;
}

.border-1px{
border: 1px solid #DDDDDD;
}

.border-1px-curved{
border: 1px solid #DDDDDD;
border-radius: 3px;
}

.overflow-auto{
	overflow: auto;
	overflow-x: hidden;
}
.overflow-x-auto {
	overflow-x: auto;
}
.absolute-postion{
 	position:absolute !important;
 }
 .relative-postion{
 	position:relative !important;
 }

/*common button class */
.btn {
	z-index:1 !important;
}
.btn-blue-active{
	background-color: $blue-button;
}
.btn-common-right{
	padding: 4px 10px !important;
}
.btn-enable{
	background-color: #ffffff;
	border-color: #adadad;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}

.btn-disable{
	background-color: #e6e6e6;
	border-color: #adadad;
}

.applyprofile-dropdown-btn-class{
	max-width: 300px;
	display: inline;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	word-break: break-all;
	word-wrap: break-word;
}

.position-initial {
	position: initial;
}

.position-static {
	position: static !important;
}

/* main layouts */

.navbar-nav > li > a:focus{
	color: #D98C15 !important;
}
.wrapper{
	min-width: 1024px !important;
}

.container{
	min-width: 1024px !important;
}

.contents{
	position: relative;
	top:72px;
	display: block;
	width:100%;
	height: calc(100% - 80px);
}
.contents-without-subheader{
	top:46px;
	height: calc(100% - 54px);
}
.container{
	
	.resized{

		.left-col{
			width:0px !important;
			.ui-arrow{
				left: 2px !important;
			}
		}

		.right-col{
			width: calc(100% - 0px) !important;
			width: -webkit-calc(100% - 0px) !important;
			width: -moz-calc(100% - 0px) !important;

			.bg-grey{
				width: calc(100% - 20px) !important;
				width: -webkit-calc(100% - 20px) !important;
				width: -moz-calc(100% - 20px) !important;
			}
			.nodata-static-width{
				width: calc(100% - 20px) !important;
				width: -webkit-calc(100% - 20px) !important;
				width: -moz-calc(100% - 20px) !important;
			}
		}
	}

	.arrow-icon{
		&:before{
			width: 15px;
			font-size: 25px;
		};
		cursor:pointer;
		padding: 5px 2px 5px 8px;
		display:inline-block;
		background-color: #DDDDDD;
		border: 1px solid #c3c3c3;
		position: absolute;
		top: 0px;
		margin: auto;
	}
	
	.row-fluid{
		width: 100%;
		display: inline-block;
		height: 100%;
		
		.row-fluid::after {
			min-height: 100%;
			height: calc(100% - 40px);
		}
		
		.left-col{
			position: static;
			width: 270px;
			float:left;
			padding: 0px;
			height: 100%;
			
			.ui-arrow{
				display: inline-block;
				position: relative;
				top: 48%;
				z-index: 1;

				.forward-icon {
					left: -15px;
				}
				.back-icon {
					left: -37px;
				}
			}
			.ui-arrow-collapse{
				display: none;
			}
			.ui-treeview{
				width:260px;
				height:100%;
			}
			.ui-treeview-collapse{
				display: none;
			}
		}
		
		.left-col-collapse{
			width:30px !important;
		}
		
			.ui-arrow{
				display: block;
			}
		
		.right-col.full-width{
			width:100%;
		}

		.right-col{
			position: static;
			width: calc(100% - 270px);
			float:left;
			padding:0px;
			height:100%;
			
			.page-view{
				height:100%;
			}

			.table-view{
				height:100%;
				.table-container{
					height:100%;
					width:100%;
					float:left;
				}

				.history-data-before{
					background:#DADADA;
				}
			}
			
			.content-header-right{
				float:none;
				padding-left: 0;
				padding-right: 0;
				
				.warning-title {
					height:45px;
					padding-left:0px;
					
					.inline-msg {
						padding-top:10px;
						padding-left:15px;
						padding-bottom:10px;
					}
				}
				.export{
					padding-top: 5px;
					height: 45px;
				}
			}
			
			.content-right{
				margin-bottom: 15px;
				width:100%;
				height: 100%;
			}
			.nodata-static-width{
				width: calc(100% - 270px);
				height: calc(100% - 40px);
			}
			.bg-grey{
				position: absolute;
				width: calc(100% - 285px);
				height: calc(100% - 60px);
				background:#DADADA;
			}
			.help-texts{
				width:100%;
				height:50px;
				text-align:center;
				position: absolute;
				top:0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;

				span:first-child{
					font-size:17px;
				}
			}
		}

		.right-col-expand{
			width: calc(100% - 30px) !important;
		}
	}
	
	.footer{
		width:100%;
		display: inline-block;
		p{
			margin: 0;
		}
	}
}

.full-width-modal{
	.modal-dialog {
		width: 80%;
	}
}

/* Export */

.more-export-option{
	position: fixed;
	z-index: 50;
	border: solid 1px #D8D7D7;
	width: 255px;
	right: 30px;
	padding: 5px;
	background: #FFFFFF;

	.format-wrap{
		padding:6px 2px;
	}
}


/* Table */

.ng-table th.sortable div:after,
.ng-table th.sortable div:before{
	right: -12px;
	top: 40%;
}
.ng-table th.sortable.sort-asc,
.ng-table th.sortable.sort-desc{
	background-color:#E5E5E5;
	text-shadow:none;	
}

.table{
	 border-top: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
    border-spacing: 0px;
}

.table {
	border: 1px solid #bdbbbb;
}
.table>thead>tr>th{
	background-color: #E5E5E5;
	text-align: center;
	font-size:12px;
	border: 1px solid #bdbbbb !important;
}

.table>tbody>tr>td{
	text-align: center;
	font-size:12px;
	border: 1px solid #bdbbbb;
}

.table>tbody>tr>td.action-column{
	width: 130px;
	min-width: 130px;

	.row-actions{
		cursor:pointer;
		margin: 0px 8px;
		
	}
	
	.row-actions.disabled{
		opacity: 0.3;
	}
}

.table-empty-data{
	text-align: center;
	height: 150px;
	top:120px;
	line-height: 150px;
}

.selected-row{
	background: #ffd699 !important;
}

.export-btn{
	cursor:pointer;
	margin-bottom:0px;
}

.more-columns{
	padding: 6px 20px;
	font-size: 18px;
	cursor:pointer;
}

.odd-row{
	background: #FAF9F9;
}

.even-row{
	background: #FFFFFF;
}

.table-footer{
	width: 100%;
	float: right;
	margin: 0px 0px 20px 0px;

	.row-options{
		float:left;
		width: calc(100% - 324px);
		text-align: center;
	}

	.pager-options{
		float: right;
		margin: 0px;
		padding: 0px;
		width: 324px;
		div{
			width: 80px;
			float: left;

			.pages-btn{
				float:left;
			}
		}
	}
}

.table-footer-disabled{
	display:none !important;
}

.multi-select-wrap{
	ul{
		li{
			cursor:pointer;
		}
	}
}

// overwriting the ng-table class for center aligning.
.ng-table th.sortable {
	padding-right:15px;
	div{
		display:inline-block;
		padding-right:0px !important;
	}
}

.loader-on-top{
	.ajax-loader{
		top: 70px !important;
    	left: 55% !important;
	}
}

/* Tree view */

.grouping-data{
	/* border: solid 1px $wrapper-border-color; */
	border: solid 1px #DDDDDD;
	margin-top:10px;

	.grouping-data-loader{
		height:200px;
	}

	.angular-ui-tree{
		float:left;
		width:100%;
		padding-top: 5px;
		ol{
			li{
				float: left;
    			width: 100%;
			}
			li:last-child {
				margin-bottom: 4px;
			}
		}
	}
	
	.title{
		text-align: center;
	}	

	.position-fixed {
      position: fixed;
      z-index: 50;
    }
}

.form-control.node-search {
  padding-right: 30px;
  height: auto;
  padding-top: 4px;
  padding-bottom: 4px;
}

.form-control.node-search + .glyphicon {
  position: absolute;
  right: 0;
  padding: 8px 27px;
}

.node-icon{
	display:inline-block;
}
.node-icon-wrapper{
	display: inline-block;
	width: 28px;
	height: 23px;
	float: left;

	.node-icon{
		margin-top: -2px;
		min-width:28px;

		.glyphicon-plus, .glyphicon-minus{
			/* border:solid 1px; */
			padding:1px;
		}
	}
}

.node-spec-icon{
	width: 20px;
	height: 23px;
	float: left;
	font-size: 18px;
}

.node-spec-drag-icon{
	position: absolute;
	right:0px;
	top:0px;
	width: 20px;
	height: 23px;
	font-size: 18px;
}

.node-spec-right-checkbox{
	float: right;
	margin-right:10px;
}

.item-name{
	cursor:pointer;
	display: block;
	height: 20px;
	line-height: 20px;
	max-width: 130px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	white-space: nowrap;
}

.ROOTNODE-name{
	max-width:190px;
}

.REGION-name{
	max-width:170px;
}

.SUBSTATION-name{
	max-width:150px;
}
.FEEDER-name{
	max-width:130px;
}
.FEEDER-name-drag{
	max-width:110px;
}
.SITE-name, .LATERAL-name{
	max-width:110px;
}
.SITE-name-drag, .LATERAL-name-drag{
	max-width:90px;
}
.LATERAL_SITE-name{
	max-width:90px;
}
.LATERAL_SITE-name-drag{
	max-width:70px;
}
.item-active, .item-context{
/*
	background: #d3d3d3 !important;
	color:#fff;
*/
	box-shadow: 0px 0px 3px 2px $clr-gray-light;
}
.angular-ui-tree-node .item-active{
	padding: 0 3px;
}
.highcharts-drillup-button {
	display: none;
  }
.section-filters{
	float:left;
	width:260px;
	height: calc(100% - 40px);
	overflow-y: auto;
	overflow-x: hidden;

	.wrapper-sort {
		position: absolute;
		width: 60px;
		right: 20px;
		left: 200px;
		z-index: 4;
	}
}

.section-watchlist{
	float:left;
	height: calc(100% - 40px);
	overflow-y: auto;
	overflow-x: hidden;
}

.tree-order-actions {
	font-size: 18px;

	a {
		position: absolute;
		left: 236px;
		margin-top: 4px;
		z-index: 4;

		&:first-child {
			left: 214px;
			color: #666;	
		}
	}
}

.app-warning{
	.modal-body{
		  min-height: initial !important;
	}
	
	.modal-footer{
		border-top:none;
	}
}
.modal-dialog .modal-body .section-key, .modal-dialog .modal-body .section-value{
	word-wrap: break-word;
	word-break: break-word;
	vertical-align: top;
}
.scrollable-body{
	min-height: 350px;
    height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.more-details-tooltip{
	min-height: 100px;
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
	word-break: break-all;
	word-wrap: break-word;
}

.modal-backdrop {
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
  top:0;
  left:0;
  background-color:#000000;
  opacity: 0.6;
}

.modal-window-large .modal-dialog {
  width: 800px;
}

.modal-window-max .modal-dialog {
	width: 98%;
	margin-top: 5%;
  }

		/*  Common  IonIcons */
	.ion-ROOTNODE{
		&:before{
			content: " \f447";
		}
	}
	.ion-REGION{
		&:before{
			content: "\f276";	
		}
	}
	.ion-SUBSTATION{
		&:before{
			content: "\f341";	
		}
	}
	.ion-FEEDER{
		&:before{
			content: "\f4a6";	
		}
	}

	.ion-SITE-M{
		&:before{
			background-image: url('../images/m-dark.svg');
		}
	}

	.ion-SITE-Z{
		&:before{
			background-image: url('../images/z-dark.svg');	
		}
	}

	.ion-SITE-U{
		&:before{
			background-image: url('../images/u-dark.svg');	
		}
	}

	.ion-SITE-M, .ion-SITE-Z, .ion-SITE-U {
		&:before{ 
			display: block;
			content: ' ';
			width: 18px;
			height: 18px;
		}
	}
	
	.ion-LATERAL{
		&:before{
			content: "\f33f";	
		}
	}

	// .ion-LATERAL_SITE{
	// 	&:before{
	// 		content: "\f455";	
	// 	}
	// }

	.ion-arrow-move{
		&:before{
			content: "\f263";
		}
	}
	
	.ion-FEEDER-FAULTS, .ion-SITE-FAULTS{
		color:#E80000;
	}

	.ion-CUSTOM_GROUPS{
		&:before{
			content: "\f270";	
		}
	}
	.ion-UNASSIGNED_DEVICES{
		&:before{
			content: "\f44f";	
		}
	}
	.ion-{
		&:before{
			content: "\f271";	
		}
	}
	.ion-ios-arrow-right{
		&:before{
			font-size:14px;
		}
	}
	.ion-ios-arrow-down{
		&:before{
			font-size:14px;
		}
	}

	.ion-android-warning{
	  &:before{
		   position: relative;
		   top: 2px;
		   font-size:20px;
		   color: #FF0000;
	  }
	}

	.ion-ios-arrow-forward{
		&:before{
			width:20px;
			font-size:23px;
		}
	}
	.ion-ios-arrow-back{
		&:before{
			width:20px;
			font-size:23px;
		}
	}

	.icon.ion-checkmark-circled{
		color:#75C53E;
		font-size:18px
	}

	.icon.ion-minus-circled{
		color:#4F8EF7;
		font-size:18px
	}
	.icon.ion-close-circled{
		color:#C53E3E;
		font-size:18px
	}

	.icon.ion-alert-circled{
		color:#f0c000;
		font-size:18px
	}
	.icon.ion-android-alert{
		color:#FFDB00;
		font-size:18px
	}
	.icon.ion-ios-help-empty{
		color:#FFDB00;
		font-size:18px
	}
	.icon.ion-ios-help-empty{
		color:#FFDB00;
		font-size:18px
	}
	.icon.ion-spinner-ios{ 
	  display: inline-block;
    background-size: 20px;
    background-image: url("../images/ion-spinner-loader.gif");
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
}
	.glyphicon .glyphicon-transfer{
		color:red;
		font-weight: 800;
	}

.dropdown-menu > li > a{
	width:100%;
	text-align:left;
	background-color:transparent !important;
}


.dropdown-multiselect .dropdown-menu>li>a{
	padding: 0 20px 0px 5px;
}

.dropdown-multiselect .dropdown-menu>li[role=presentation]:last-child{
	display: none;
}

.dropdown-multiselect .dropdown-toggle{
	padding:4px 12px;
}

/* Graph */
.background-phaseA {
	background: $clr-red;
}
.background-phaseB {
	background: $clr-green;
}
.background-phaseC {
	background: $clr-blue;
}

/* Log-i */

.chart-holder{
	//padding:0px !important;

	.breadcrumb-wrap{
		padding-right: 10px;
	}
}

.phase-details{
	margin-top:5px;
	max-height:415px;
	overflow-y:scroll;
}

.log-i{

	.tab-content{
		border: solid 1px #DDDDDD;
		border-top: none;

		.export-btn{
			float:right;
			margin-right:15px;
		}
	}
}

.redFont{
	color: #f00;
}

/* fault-events */
.fault-events{
	.breadcrumb{
		padding:0;
		
		.more-export-option{
			.format-wrap{
				padding:0px;

				input[type="radio"]{
					margin-left:35px;
				}
			}
		}
	}
}

/* 
Just make this block scrollable 
*/
.scrollable-area {
	height: 100px;
	overflow-y: scroll; /* <-- here is what is important*/
}



/* disable Responsiveness */



@media (min-width: 768px){
  .container {
     width:100% !important;
  }
}

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
  float: left;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  float: left;
}

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
}


/* Disabling Navigation Collapse */

@media (max-width: 1024px) {
    .navbar-header {
        float: left;
    }

    .navbar {
        border-radius: 4px;
        //min-width: 400px;
    }

    .nav-tabs-justified > li > a {
        border-bottom: 1px solid #bdbbbb;
        border-radius: 4px 4px 0 0;
    }
    .nav-tabs-justified > .active > a,
    .nav-tabs-justified > .active > a:hover,
    .nav-tabs-justified > .active > a:focus {
        border-bottom-color: #fff;
    }

    .nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-justified > li > a {
        margin-bottom: 0;
    }

    .nav-tabs.nav-justified > li > a {
        border-bottom: 1px solid #bdbbbb;
        border-radius: 4px 4px 0 0;
    }
    .nav-tabs.nav-justified > .active > a,
    .nav-tabs.nav-justified > .active > a:hover,
    .nav-tabs.nav-justified > .active > a:focus {
        border-bottom-color: #fff;
    }

    .nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-tabs.nav-justified > li > a {
        margin-bottom: 0;
    }

    .navbar-right .dropdown-menu {
        right: 0;
        left: auto;
    }
    .navbar-right .dropdown-menu-left {
        right: auto;
        left: 0;
    }
    .container {
        min-width: 400px;
    }

    .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none;
    }
    .navbar-collapse.collapse {
        display: block !important;
        // height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
    .navbar-collapse.in {
        overflow-y: visible;
    }
    .navbar-fixed-top .navbar-collapse,
    .navbar-static-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        padding-right: 0;
        padding-left: 0;
    }

    .container > .navbar-header,
    .container > .navbar-header,
    .container > .navbar-collapse,
    .container > .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }

    .navbar-static-top {
        border-radius: 0;
    }

    .navbar-fixed-top,
    .navbar-fixed-bottom {
        border-radius: 0;
    }

    .navbar-toggle {
        display: none;
    }

    .navbar-nav {
        float: left;
        margin: 0;
    }
    .navbar-nav > li {
        float: left;
    }
    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .navbar-nav.navbar-right:last-child {
        margin-right: -15px;
    }

    .navbar-left {
        float: left !important;
    }
    .navbar-right {
        float: right !important;
    }

    .navbar-form .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .navbar-form .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
    .navbar-form .control-label {
        margin-bottom: 0;
        vertical-align: middle;
    }
    .navbar-form .radio,
    .navbar-form .checkbox {
        display: inline-block;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .navbar-form .radio input[type="radio"],
    .navbar-form .checkbox input[type="checkbox"] {
        float: none;
        margin-left: 0;
    }
    .navbar-form .has-feedback .form-control-feedback {
        top: 0;
    }

    .navbar-form {
        width: auto;
        padding-top: 0;
        padding-bottom: 0;
        margin-right: 0;
        margin-left: 0;
        border: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    .navbar-form.navbar-right:last-child {
        margin-right: -15px;
    }

    .navbar-text {
        float: left;
        margin-right: 15px;
        margin-left: 15px;
    }
    .navbar-text.navbar-right:last-child {
        margin-right: 0;
    } 
}

.node-search-dropdown{
	min-width:100%;
	max-height:300px;
	overflow: auto;
}

/*  Export drop-down */

.export-dropdown{
	padding:15px;
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,.175);
	box-shadow: 0 2px 2px rgba(0,0,0,.175);

	.export-dialog{
		min-width: 241px;
	
		.format-wrap{
			span{
				display:block;
				float: left;
				width: 40%;
				text-align: center;
				padding: 12px 0px;
			}
		}
	}

}

/*
.export-dropdown-list{
	padding:0px;
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,.175);
	box-shadow: 0 2px 2px rgba(0,0,0,.175);

	.export-dialog{
		width:160px;
		
		.format-wrap{
			span{
				display:block;
				padding: 8px 10px;
				border-bottom:solid 1px #ddd;
			}
			span:hover{
				color:#D98C15;
				cursor:pointer;
			}
		}
	}
}
*/

/* btn group */

.btn-group{
	z-index: 2;
}
.btn-group-btn-right{
	border-radius: 0 4px 4px 0;
}
textarea.form-control {
  resize: none;
}
.input-group-btn{
	z-index:0;
}
.zindex-0 {
	z-index:0;
}
.zindex-1 {
	z-index:1;
}
.zindex-2 {
	z-index:2;
}
.zindex-4 {
	z-index:4 !important;
}
.zindex-3 {
	z-index:3 !important;
}
.multiselect-export-btn-group {
	.btn-group{
		position: static;
	}
	ul{
		width: 120px;
		min-width: 120px;
		right:0;
		left: inherit;
		background-color: #fff !important;
		border: 1px solid rgba(0,0,0,.15) !important;
		border-radius: 4px !important;
		-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175) !important;
		box-shadow: 0 6px 12px rgba(0,0,0,.175) !important;
		> li{
			    // position: relative !Important;
				background: #fff !important;
				bottom: 0 !important;
				// height: auto !Important;
				border-bottom: none !important;
				a{
					padding: 5px 10px !important;
					border-bottom: solid 1px #ddd !important;
					cursor:pointer;
					color: #333 !important;
					> span{
						&:nth-child(1){
							width: 0px !important;
							display: inline-block;
						}
					}
				}
			&:nth-child(2) > a{
				border-bottom:none !important;
			}
		}
	}
}
.singleselection-in-multiselect {
	ul{
		width: auto;
		min-width: 100%;
		left: inherit;
		background-color: #fff !important;
		border: 1px solid rgba(0,0,0,.15) !important;
		border-radius: 4px !important;
		-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175) !important;
		box-shadow: 0 6px 12px rgba(0,0,0,.175) !important;
		> li{
			    // position: relative !Important;
				background: #fff !important;
				bottom: 0 !important;
				// height: auto !important;
				border-bottom: none !important;
				a{
					padding: 0px 10px !important;
					cursor:pointer;
					color: #333 !important;
					> span{
						&:nth-child(1){
							width: 15px;
							display: inline-block;
						}
					}
				}
			&:nth-child(2) > a{
				border-bottom:none !important;
			}
		}
	}
}
.full-width-multiselect{
	width: 100%;
	.dropdown-multiselect{
		width: 100%;
		z-index: initial;
		button{
			width: 100%;
			text-align: left;
			.caret{
				float: right;
				margin-top: 8px;
			}
		}
	}
	.dropdown-menu{
		width: 100%;
	}
}

.full-width-multiselect.full-width-multiselect-devicetype .dropdown-multiselect {
	z-index: 3; 
}

.scroll-modalbody{
	min-height: 350px;
    height: 350px;
    overflow-y: scroll;
	overflow-x: hidden;
}
.addDevice_modalBody{
	.btn-group{
		z-index: auto !important;
		z-index: initial !important;
	}
}
.auto-zindex{
	z-index: auto !important;
}
.ul-fixed-width-100 {
	ul{
		width:100px;
		min-width:auto;
	}
}
.dropdown-multiselect{
	.dropdown-menu{
		overflow: visible !important;
		border-radius:0;
		box-shadow: none; 
		background: #e4e4e4;
		border: none;
		min-width: 100%;
		li{
			padding: 2px 0;
			margin: 0;
			cursor:pointer;
			&:nth-child(1){
				position: absolute;
				bottom: -25px;
				width: 100%;
				height: 25px;
				background: $clr-orange;
				border-bottom: solid 1px #ddd;
				a:not(.option) {
					font-weight: bold;
					/*color: #fff;*/

					span.glyphicon-remove {
						visibility: hidden;
					}
				}
			}
			&:nth-child(2){
				height: 0;
			}
			> a {
				> span{
					&:nth-child(1){
						width: 15px;
						display: inline-block;
					}
				}
			}
			
		}
	} 
}

.scrollable-multiselect-filter{
 	.dropdown-menu{
 		height: 160px !important;
		overflow-y: auto !important;
		padding-top: 0; 
 		li{
 			&:nth-child(1){
 				position: static;
    			bottom: 0;
 			}
 			
 		}
 	} 
 }


.audit-trail{
	.fixed-dropdown{
		display:block;
		max-width: 100%;
		margin-right: 0;
		.top{
			.btn-group {
				z-index: 4 !important;
			}
		}
		.middle{
			.btn-group {
				z-index: 3 !important;
			}
		}
		.multiselect-parent {
			width:100%;
			
			.dropdown-toggle {
				display: inline-block;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				text-align: left;
				height: 33px;
				width:100%;

				.caret{
					float: right;
					margin-top: 10px;
				}
			}
		}
	}
	.calender-fixed-icon{
		position: absolute;
		right: 36px;
		top: 0px;
		button{
			height: 30px;
		}
	}
}
.multiselect-left-btn-group{
	ul{
		right:0;
		left: inherit;
	}
}
.select-right-aligned-options ul {
	left: inherit;
	right: 0;
}
/*  Anchor tag */
a.disabled {
    color: #AAAAAA;
    cursor: default;
    pointer-events: none;
    text-decoration: none;
}

/* single -select -directive */
.custom-width-single-select{
	min-width:93% !important;
	position: absolute;
	top:0;
}
/*scroll bar adding for configure properties*/
.configure-property{
    max-height: calc(80vh - 210px); 
    overflow-y: auto;
    overflow-x: hidden;
  
}


/*  custom-error-popup using in change password screen  */
.custom-error-popup{
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
    padding: 5px;
    display: block;
}

/* single-select retries-option */
.custom-width-retries-select{
  width:100% !important;
}
/* width increasing on configure property pop-up window */
.configure-property-modal .modal-dialog{
  width:40% !important;
}

/* Ionicons */
.ion-spin, .ion-loading-a, .ion-loading-b, .ion-loading-c, .ion-loading-d, .ion-looping, .ion-refreshing, .ion-ios7-reloading {
    -webkit-animation: spin 1s infinite linear;
    -moz-animation: spin 1s infinite linear;
    -o-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}
.ion-spin, .ion-loading-a, .ion-loading-b, .ion-loading-c, .ion-loading-d, .ion-looping, .ion-refreshing, .ion-ios7-reloading{
	display: inline-block;
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.ion-load-a:before, .ion-loading-a:before {
    content: "\f29a";
}

.icon.ion-loading-a {
    color: #E1E537;
    font-size: 18px;
}

@-moz-keyframes spin { 0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); } }
@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); } }
@-o-keyframes spin { 0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(359deg); } }
@-ms-keyframes spin { 0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(359deg); } }
@keyframes spin { 0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); } }
.ion-loading-a { -webkit-animation-timing-function: steps(8, start); -moz-animation-timing-function: steps(8, start); animation-timing-function: steps(8, start); }

.nodata-available{
	position: absolute;
	height: 100%;
	padding: 0px;

	span{
		display:table-cell;
		vertical-align:middle !important;
		text-align:center;
	}
}
.nodata-available-subtractheader{
	span{
	    top: calc(50% + 20px) !important;
	}
}
.nodata-fixedheight{
	height:200px;
}
.center-align {
	text-align: center;
	//margin-top: calc(275px - 50%);
	margin-top: 138px;
}
.table-holder {
	.tabview-section{
		height: 100%;
	    display: inline-table;
	    width: 100%;
    }
    .feeder-tabview{
	    min-height: 330px;
	    display: block;
	 }
}
.uploaded-file-view .scroll-tabview{
	min-height: 150px;
	height: 100%;
	display: inline-table;
	width: 100%;
}
.column-wrap{
	position: absolute;
	background: #EDEDED;
	padding: 0px 12px 0px 30px;
	right: 33px;
	left: auto;
	top: 0px;
	z-index: 3;
	-webkit-box-shadow: none;
	box-shadow: none;	

	.column-title{
		display:block;
		font-size: 14px;
		font-weight: normal;
	}
}
.column-wrap-down {
	position: absolute;
	background: #EDEDED;
	padding: 0px 12px 0px 30px;
	right: 0px;
	left: auto;
	top: 28px;
	z-index: 3;
	-webkit-box-shadow: none;
	box-shadow: none;	

	.column-title{
		display:block;
		font-size: 14px;
		font-weight: normal;
	}
}
.settings-wrap{
	float: right;
	.column-settings-btn{
		padding: 5px 7px 3px 8px;
	}
}
.word-break-all {
	word-break: break-all;
}
// Select Autocomplete dropdown
input.ui-select-search {
    width: 100% !important;
}
.fixedwidth-multiselect .multiselect-parent .dropdown-toggle {
  	width: 140px;
  	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

// list styled table
table.table.list-styled-table {
	border: 0px;
	border-bottom: 1px solid #bdbbbb;

	> thead {
		border-bottom: 2px solid #bdbbbb;
	}
	th {
		text-align: left !important;
		background-color: transparent;
		border:none !important;
	    border-bottom: 2px solid #bdbbbb;
		padding: 5px;
	}
	tbody tr {
		border-top: 1px solid #bdbbbb;
	}
	td {
		text-align: left !important;
		background-color: transparent;
		border: none;
		padding: 5px;
	}
}

// some common styles
.left-100{
	left:100px;
}

.shadow-box {
	box-shadow: 0 3px 4px #ddd;
}

.highcharts-tooltip span {
    background-color:white;
    opacity:1;
    z-index:9999 !important;
}

.chart-stack-Label-top{
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-transform: rotate(315deg) translateX(50%) !important;
    -webkit-transform: rotate(315deg) translateX(50%) !important;
    transform: rotate(315deg) translateX(50%) !important;
	color: #5b3d3d;
}

.chart-stack-Label-middle{
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-transform: rotate(270deg) translateX(10%) !important;
    -webkit-transform: rotate(270deg) translateX(10%) !important;
    transform: rotate(270deg) translateX(10%) !important;
    transform-origin: 60% 100%;
}

/* disturbence stack labels*/
.highcharts-stack-labels span{
	opacity: 1 !important;
	visibility: visible !important;
}

.highcharts-legend-item span {
	z-index: 9999;
}
/* Bootstrap default style overrides */
.btn-primary, .btn-primary[disabled], .btn-primary.disabled {
	color: $clr-gray;
	background-color: $clr-orange;
	border-color: $clr-orange-dark;

	&:hover, &:focus {
		color: $clr-gray;
		background-color: $clr-orange-dark;
		border-color: $clr-orange-dark;
	}
}
a {
	color: $clr-orange-dark;

	&:hover, &:focus {
		color: $clr-orange-dark;
	}
}

.helight{
	cursor: pointer;
	color: $clr-orange-dark;
	&:hover, &:focus {
		color: $clr-orange-dark;
	}
}
.angular-ui-tree-node a {
	color: $clr-gray;

	&:hover, &:focus {
		color: $clr-gray;
	}
}
button:focus, .btn:focus, .btn-default-focus, table:focus, a:focus {
	outline: none !important;
	-moz-outline-color: none !important;
	box-shadow: none;
}
input:focus, .form-control:focus {
	outline-color: $clr-orange-light !important;
	-moz-outline-color: $clr-orange-light !important;
	border-color: $clr-orange-light !important;
	box-shadow: inset 0 1px 1px $clr-orange-light,0 0 8px $clr-orange-light !important;
}
.btn-danger.active {
	background-color: $clr-red;
	border-color: $clr-red;
	color: $clr-gray;
}
.btn-success.active {
	background-color: $clr-green;
	border-color: $clr-green;
	color: $clr-gray;
}
.btn-primary.active {
	background-color: $clr-blue;
	border-color: $clr-blue;
	color: $clr-gray;
}
.ui-select-bootstrap .ui-select-choices-row.active>span {
	background-color: $clr-orange;
	color: $clr-gray;
}
.datepicker {
	.btn-info, .btn-danger, .btn-success {
		color: $clr-gray;
		background-color: #fff;
		border-color: #ccc;

		&:hover, &:focus {
			background-color: #ddd;
			border-color: #aaa;
		}
	}
	.btn-info.active, .btn-default.active,
	.btn-info:active, .btn-default:active {
		color: $clr-gray;
		background-color: $clr-orange;
		border-color: $clr-orange;
	}
}

// summary table view
.summary-title{
	background: #ddd;
    padding: 5px;
}
.summary-widget {
	position: relative;
	padding: 0 0 10px 0;
	max-height: 180px;
	overflow-y: auto;
}
.summary-table{
	margin: 0 auto;
	
	tbody > tr > td {
		padding:4px;
	}
	tr td:last-child{
		border-right:solid 1px #bdbbbb; 
	}
}
.summary-header {
	background: #e5e5e5;
}
//glyphicons
.glyphicons{
	display: inline-block;
    font-family: 'Glyphicons Regular';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.glyphicons-light-beacon{
	background-image:url("../images/glyphicons-648-light-beacon.png");
	background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0;
	opacity: .65;
    width: 14px;
    height: 12px;
}
.glyphicons-lock{
	background-image:url("../images/glyphicons-lock.png");
	background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0;
	opacity: .65;
    width: 12px;
    height: 12px;
}
.glyphicons-unlock{
	background-image:url("../images/glyphicons-unlock.png");
	background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0;
	opacity: .65;
    width: 12px;
    height: 12px;
}
.glyphicons-force-reset {
	background-image:url("../images/glyphicons-force-reset.png");
	background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0;
	opacity: .65;
	width: 14px;
    height: 16px;
}
.glyphicon-play-circle::before {
    content: "\e029";
}
.glyphicons-ok-sign:before {
    content: "\e084";
}
.glyphicons-question-sign:before {
    content: "\e085";
}

//System-admin add/edit section header
.network-add-edit {
	height: 450px;
	overflow: auto;
	.section{			
		.section-header{
			font-weight: bold;
			padding-top: 10px;
			padding-bottom: 5px;
			padding-right: 20%;
			font-size: 15px;
		}
		.section-body{
			fieldset{
				padding-top:5px;
				
				.input-label{
					width: 70%;
					display: inline-block;
					line-height: 20px;
					margin-top: 7px;
				}
				
				.input-fields{
					display: inline-block;
					vertical-align: middle;
					max-width: calc(30% - 15px);
					width: 100%;
				}
				
				select{
					height:34px;
					background:#ffffff;
				}
				
				&:last-child {
					padding-bottom: 15px;
				}
			}

			.form-horizontal .form-group {
				margin-right: 0px;
				margin-left: 0px;
				&:first-child {
					margin-top: 15px;
				}
			}
		}
	}
}

 // .Default tabset for screen
.screen-tabset {
	position: static;
	height: 100%;

	.tab-content {
		max-height:none;
		position:relative;
		top:0px;
		bottom:0px;
		height:calc(100% - 42px);
		overflow:auto;
		border: 1px solid #E7E4E4;
		border-top: none;
		min-height: 10px;
		display: inline-table;
    	width: 100%;
	}
	
	.tabs{

		.section{
		
			.section-header{
				font-weight: bold;
				padding-top: 10px;
				padding-bottom: 5px;
				padding-left: 20%;
				padding-right: 20%;
				font-size: 15px;
			}

			.section-body{
				fieldset{
					padding-top:5px;
					padding-left: 20%;
					padding-right: 20%;
					
					.input-label{
						width: 70%;
						display: inline-block;
						line-height: 20px;
						margin-top: 7px;
					}
					
					.input-fields{
						display: inline-block;
						vertical-align: middle;
						max-width: calc(30% - 15px);
						width: 100%;
					}
					
					select{
						height:34px;
						background:#ffffff;
					}
					
					&:last-child {
						padding-bottom: 15px;
					}
				}

				.form-horizontal .form-group {
					margin-right: 0px;
					margin-left: 0px;
					&:first-child {
						margin-top: 15px;
					}
				}
			}
		}	
		
	}
}
.notification-template-modal{

	.modal-dialog{
		.modal-content{
			overflow: auto;
		}
		width: 80%;
		margin-top: 100px;
		.notification-templates{
		display: inline-block;
		width: 100%;
		.temp_act_true{
			float: right;
			vertical-align: text-bottom;
			margin: -1px 0 0 5px;
			position: absolute;
			right: -10px;
		}
		.temp_act_false{
			display: none;
		}
		.template-section{
			.section-filters {
				margin-top: -3px;
				width: 280px;
				height: calc(100% - 60px);
				.active-template{
					color: #7495BE;
				}
			}			
			.profile-details {
				.template-form{
					padding: 10px 10px 0 10px;
					margin: 0 10%;
				}
			}
		}
		.keyword-multiselect{
			display: block;
			left: 16px;
			width: 100%;
			.dropdown-menu-form{
				display:block !important;
				left : -180px;
			}
		}
		.table-holder-scroll{
			height: 400px;
    		overflow-y: auto;
		}
		.fixed-dropdown{
			display:block;
			.top{
				.btn-group {
					z-index: 4 !important;
				}
			}
			.middle{
				.btn-group {
					z-index: 3 !important;
				}
			}
			.multiselect-parent {
				width:100%;
				
				.dropdown-toggle {
					display: inline-block;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					text-align: left;
					height: 33px;
					width:100%;
					.caret{
						float: right;
						margin-top: 10px;
					}
				}
			}
		}
	}
	.singleselection-in-multiselect{
		ul{
			padding-right: 20px;
		}
	}
	}
	
}

.pagination-table-scrolling {
	position: absolute;
	right: 0px;
	bottom: -40px;
}

.fixed-dropdown{
	display:block;
	.top{
		.btn-group {
			z-index: 4 !important;
		}
	}
	.middle{
		.btn-group {
			z-index: 3 !important;
		}
	}
	.multiselect-parent {
		width:100%;
		
		.dropdown-toggle {
			display: inline-block;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			text-align: left;
			height: 30px;
			width:100%;

			.caret{
				float: right;
				margin-top: 10px;
			}
		}
	}
}
.configure-modal-header{
	.page-breadcrumb{
		font-size: 14px;
	}
}
.configure-modal-body	{
	form{
		display: inline-block;
		width: 100%;
	}
	.c-device-type{
		font-weight: bold;
		font-size: 15px;
		text-decoration: underline;
	}
	.c-device-title{
		font-weight: bold;
		padding: 0;
		padding-top: 10px;
		div{
			padding: 0 0px;
		}
	}
	.c-device-info{
		padding: 10px 0px;
		div{
			padding: 0px;
			word-wrap:break-word;
			padding-right: 4px;
		}
		.dropdown-menu{
			max-height: 130px !important;
			overflow: scroll !important;
			width: 100%;
		}
		.serial-list{
			max-height: 100px;
			overflow-y: auto;
			padding: 0 20px 0 10px;
			div{
				border: solid 1px #ddd;
			}
		}
	}
}

.move-device-template-modal{
	.modal-dialog {
		width: 60%;
		margin-top: 100px;
		form{
			display: inline-block;
			width: 100%;
		}
		.c-device-type{
			font-weight: bold;
			font-size: 15px;
			text-decoration: underline;
		}
		.c-device-title{
			font-weight: bold;
			div{
				width:20%;
				padding: 5px;
			}
		}
		.c-device-info{
			& > div{
				width:20%;
				padding: 5px;
			}
		}
		.c-device-info-list{
			padding: 10px 0px;
			.serial-list{
				max-height: 100px;
				overflow-y: auto;
				padding: 0 20px 0 10px;
				div{
					border: solid 1px #ddd;
				}
			}
		}
	}
}