/* Device Management */


.container-fluid .left-col {
    position: static;
    width: 270px;
    float: left;
    height: 100%;
}
.container-fluid .right-col {
    position: static;
    width: calc(100% - 270px);
    float: left;
    padding: 0px;
	height: 100%;
	
	.content-right {
		margin-bottom: 15px;
		width: 100%;
		height: 100%;
		
		 .multiselect-native-select {
				.btn-group  {
					display: inline-block;
					width: 100%;

					.dropdown-toggle {
						display: inline-block;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						text-align: left;
						height: 30px;
						width: 100%;
						.caret {
							float: right;
							margin-top: 10px;
						}
					
					}

					.dropdown-menu {
						overflow: visible !important;
						border-radius: 0;
						box-shadow: none;
						background: #e4e4e4;
						border: none;
						min-width: 100%;
						li > a {
							//padding: 0 20px 0px 5px;
							width: 100%;
							text-align: left;
							background-color: transparent !important;
							> label {
								padding: 3px 16px 3px 26px;
							}
						}
						li:nth-child(1) a:not(.option) {
							font-weight: bold;
						}
						li:nth-child(1) {
							position: static;
							bottom: 0;
						}
					}
					.dropdown-menu li:nth-child(1) {
						position: absolute;
						bottom: -25px;
						width: 100%;
						height: 25px;
						background: #D98C15;
						border-bottom: solid 1px #ddd;
					}
					.dropdown-menu li {
						padding: 2px 0;
						margin: 0;
						cursor: pointer;
					}
			}

		}
		
		.scrollable-multiselect-filter	{
			.multiselect-native-select {
					.dropdown-menu {
						height: 160px !important;
						overflow-y: auto !important;
						padding-top: 0;
						li:nth-child(1) {
							position: static!important;
							bottom: 0!important;
						}
					}
				}
		}

		.filter-apply {
			margin-top: 10px;
			margin-right: 10px;
			float: right;
		}


		.dropdown-disable-autohide {
			position: absolute;
			background: #EDEDED;
			padding: 0px 12px 0px 30px;
			right: 33px;
			left: auto;
			top: 0px;
			z-index: 3;
			-webkit-box-shadow: none;
			box-shadow: none;
			width: 170px;
			> label {
				position: relative;
				display: block;
				margin-top: 5px;
				font-weight: normal;
				> input[type=checkbox] {
					position: absolute;
					margin-left: -20px;
				}
				
			}
			> label:first-of-type {
				margin-top: 10px;
			  }
			> label:last-of-type {
				margin-bottom: 10px;
			}
		}

		.apply-padding .tab-content {
			padding-bottom: 50px;
		}

		 .tab-content {
			max-height: none;
			position: relative;
			padding: 10px;
			top: 0px;
			bottom: 0px;
			height: calc(100% - 42px);
			overflow: auto;
			border: 1px solid #E7E4E4;
			border-top: none;
			min-height: 10px;
			display: inline-table;
			width: 100%;
		}
		.export-button {
			padding:0px 12px;
		}
		.table > tbody > tr > td {
			vertical-align: middle!important;
			text-align: center !important;
		}

		.table > tbody > tr > td .row-actions {
			width: 130px;
			min-width: 130px;
			> span {
				cursor: pointer;
    			margin: 0px 8px;
			}
		}
	}
	
	.panel{
		border-radius: 0px;
	}

	.row {
		margin-right: 0px;
		margin-left: 0px;
		position: relative;
		top: 0px;
	}


	/* device summary*/

	
	.summary-table {
		.summary-title {
			background: #ddd;
			padding: 5px;
		}
		.summary-widget {
			padding-bottom: 10px;
		}
		.tableBodyScroll tbody {
			display: block;
			max-height: 180px;
			overflow-y: auto;
		  }
		  
		  .tableBodyScroll thead, tbody tr {
			display: table;
			width: 100%;
			table-layout: fixed;
		  }
	}
	
}


/*  Add device */

.full-width + 
	.btn-group {
		width: 100%;
		> .btn {
			display: block;
			text-align: left;
			width: 100%;
			> .caret {
				margin-top: 10px;
				float: right;
			}
		}
		> .dropdown-menu{
			width: 100%;
		}
	}
