// imports
@import '../resources/css/variables.scss';
@import '../resources/css/mixins.scss';

// styles
.logo{
    background-image: url($imagesPath + 'login_logo.png');
    background-repeat: no-repeat;
    background-size: 35% 20%;
    background-position: 185px 10px;
}
.login-view{
    width: 100%;
    height: 100%;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    display: table;
    max-width:100%;
}
.login-content{
    padding: 0;
    vertical-align: middle;
    display: table-cell;
    margin: 0;
}
.login-wrap{
    @extend .logo;
    width: 320px;
    max-width: 370px;
    min-height: 370px;
    margin: 0 auto;
    padding: 22px;
    @include border-radius(6px);
    border: 10px;
    @include box-shadow(2px 2px 2px 3px rgba(42,42,42,0.7));
    .login-title{
        color:$titletextcolor;
        font-family: $fontfamily;
        font-size: 180%;
        font-weight: bold;
        text-align: center;
        margin-bottom: 40px;
        margin-top: 20px;
    }
    .form-horizontal {
        margin-bottom: 15px;
        margin-top: 88px;
    }
    .keeplogin{
        font-family: $fontfamily;
        display: inline-block;
        font-size: 10px;
        color: #aaaaaa;
    }
    .keeplogin input#loginkeeping{
        margin-right: 5px;
        margin-bottom: 5px;
    }			
    .forgot-password{
        font-family: $fontfamily;
        margin-bottom: 3px;
        font-size: 13px;
        font-style: bold;
        a:hover{
        text-decoration: underline;
        }
    }
    .login-btn{
        background: $buttoncolor !important;
        color: $buttontextcolor !important;
        @include border-radius(3px);
    }
}
.login-footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    margin: auto;
    padding-right: 15px;
}