.col-sm-12{
    padding: 0px;
}
.navigation {
    float: left;
    height: 45px;
    min-height: 45px;
    min-width: 1048px;
    width: 100%;
    position: fixed;
    border-color: transparent;
    margin-bottom: 0px;
    border-radius: 0px;
    z-index: 1045;
}
.navbar {
    border-radius: 0px !important;
    height: 36px;
    min-height: 36px;
}
.navigation .navbar-inverse{
    background-color: #333333
}
.navbar-inverse{
    background-color : #333;
    margin-bottom: 0px;
}

@media (min-width: 768px){
    .container {
       width:100% !important;
    }
  }

.container {
    min-width: 1024px !important;
    padding: 0px 10px;
}
.navigation .navbar-inverse .header-holder .logo-wrapper .logo, .navigation .navbar-inverse .header-holder .logo-wrapper .login-wrap {
    background-position: 0 0;
    width: 130px;
    height: 28px;
    margin-top: 2px;
    margin-left: 0;
}
 .navigation .navbar-inverse .header-holder .logo-wrapper .logo, .navigation .navbar-inverse .header-holder .logo-wrapper .login-wrap{
    background-image: url('../../resources/images/logo.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.navigation .navbar-inverse .header-holder .menu-wrapper .nav.navbar-nav {
    float: left;
    margin: 0px auto;
    position: relative;
    font-size: 13px;
    left: 2%;
}
.navigation .navbar-inverse .header-holder .menu-wrapper .navbar-nav > li > a {
    padding: 11px 15px;
}

.navigation .navbar-inverse .header-holder ul.navbar-nav.nav-settings > li > a {
    padding: 9px 10px 11px;
    color: #D98C15;
}
.navigation .navbar-nav > li > a {
    line-height: 14px !important;
    font-size: 15px;
    font-weight: bold;
    color: #D98C15;
}
.logo-wrapper {
    /* height: 45px; */
    float: left;
}
.menu-wrapper {
    height: 36px;
    left: 0;
}

.menu-wrapper {
    width: 60%;
    float: left;
    position: relative;
}
 .menu-wrapper .navbar-nav > .active > a {
    color: #333333 !important;
    background-color: #D98C15;
}
 .menu-wrapper .navbar-nav > li > a {
    padding: 11px 15px;
}
.navigation .navbar-nav > li > a {
    line-height: 14px !important;
    font-size: 15px;
    font-weight: bold;
    color: #D98C15;
}

/* sub navigation*/

.sub-navigation {
    width: 100%;
    min-width: 1024px;
    float: left;
    height: 26px;
    min-height: 26px;
    position: fixed;
    background: #E5E5E5;
    border-color: transparent;
    margin-bottom: 0px;
    border-radius: 0px;
    z-index: 1043;
}
.sub-navigation .row .sub-menu-wrapper {
    height: 26px;
    float: left;
    position: relative;
}
.sub-navigation .row .sub-menu-wrapper .navbar-nav {
    float: none;
    font-size: 13px;
    margin: 0px auto;
}
.sub-navigation .row .sub-menu-wrapper .navbar-nav li {
    margin-right: 4px;
}
.sub-navigation .row .sub-menu-wrapper .navbar-nav li a {
    color: #333333;
    font-size: 13px;
    font-weight: bold;
    background-color: #E5E5E5;
    line-height: 5px;
    padding: 9px 10px;
}