
    .login-view{
        width: 100%;
        height: 100%;
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        display: table;
        max-width: 100%;
    }
    .login-content{
        padding: 0;
        vertical-align: middle;
        display: table-cell;
        margin: 0;
    }
    .form-horizontal{
        margin-bottom: 15px;
        margin-top: 88px;
    }
    .form-horizontal .form-group  {
        margin-left:0px;
        margin-right: 0px; 
    }
    .login-wrap{
        width: 320px;
        max-width: 370px;
        min-height: 370px;
        margin: 0 auto;
        padding: 22px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        border-radius: 6px;
        border: 10px;
        -webkit-box-shadow: 2px 2px 2px 3px rgba(42, 42, 42, 0.7);
        -moz-box-shadow: 2px 2px 2px 3px rgba(42, 42, 42, 0.7);
        -ms-box-shadow: 2px 2px 2px 3px rgba(42, 42, 42, 0.7);
        box-shadow: 2px 2px 2px 3px rgba(42, 42, 42, 0.7);
    }
    .login-title{
        color: #646464;
        font-family: "Open Sans", sans-serif;
        font-size: 180%;
        font-weight: bold;
        text-align: center;
        margin-bottom: 40px;
        margin-top: 20px;
    }
    
   .logo, .login-wrap {
        background-image: url('../../resources/images/login_logo.png');
        background-repeat: no-repeat;
        background-size: 35% 20%;
        background-position: 185px 10px;
    }
  