.contextMenu {
    position: absolute;
    z-index: 10000;
    height: 35px;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }
    .contextMenu ul {
      padding: 5px 5px 2px 5px; }
    .contextMenu li {
      list-style: none;
      cursor: pointer; }
  
  .rstcustom__collapseButton, .rstcustom__expandButton {
    display: none; }
  
  .glyphicon {
    display: flex !important; }
  