.contextMenu {
  position: fixed;
  z-index: 10000;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }

.contextMenu ul {
  padding: 5px 5px 2px 5px; }

.contextMenu li {
  list-style: none;
  cursor: pointer;
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  font-family: 'Open Sans', sans-serif !important; }

.rstcustom__collapseButton, .rstcustom__expandButton {
  display: none; }

.left-col .left-nav {
  display: flex;
  flex-direction: column;
  height: 80vh; }

.left-col .tree {
  flex: 1 0 50%;
  padding: 5px 0px 0px 15px;
  border: 1px solid lightgray;
  margin-top: 7px; }
  .left-col .tree span {
    font-family: 'Open Sans', sans-serif; }
  .left-col .tree .rst__tree {
    margin-left: -36px; }
  .left-col .tree .glyphicon {
    display: flex !important; }
  .left-col .tree .rstcustom__rowLabel {
    position: absolute;
    padding-left: 22px; }
    .left-col .tree .rstcustom__rowLabel span {
      cursor: pointer; }
  .left-col .tree .svg-node {
    height: 15px;
    width: 15px; }
  .left-col .tree .glyphicon-menu-right:before, .left-col .tree .glyphicon-menu-down:before {
    padding-right: 6px;
    cursor: pointer; }
  .left-col .tree .ReactVirtualized__Grid {
    will-change: unset !important; }
  .left-col .tree .rstcustom__rowWrapper:hover {
    opacity: 1; }
  .left-col .tree .rstcustom__rowSearchFocus span, .left-col .tree .rstcustom__rowSearchMatch span {
    box-shadow: 0px 0px 3px 3px #A8A6A6; }

.left-col .form-group .btn {
  margin-left: 2px;
  padding: 3px 3px 7px 2px; }

.modal-dialog {
  width: 600px;
  height: 400px;
  margin-top: 30px !important; }
